window {
  font-family: 'Monofur Nerd Font';
	background-image: none;
	transition: 20ms;
  font-weight: normal;

  background-color: rgba(41, 41, 50, 0.2);
  border-radius: 20px;
}

button {
  font-size:28px;
	background-color: transparent;
  background-repeat: no-repeat;
  background-size: 40%;
	background-position: center;
	border-width: 2px;
  border-radius: 20px;
  color: rgba(246, 240, 255, 1);
  border-color: rgba(246, 240, 255, 1);
}

button:hover,button:focus {
  background-size: 70%;
	transition: 20ms;
  color: #292932;
  border-width: 0px;
  /*border-color: #292932;*/
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
	margin: 5px;
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Lock2.png");
}

#lock:hover,#lock:focus {
	background-color: rgba(90, 133, 254,0.7);
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Lock3.png");
}

#suspend {
	margin: 5px;
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Sleep2.png");
}

#suspend:hover,#suspend:focus {
  background-color: rgba(41, 188, 173, 0.7);
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Sleep3.png");
}


#logout {
	margin: 5px;
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Logout2.png");
}

#logout:hover,#logout:focus {
  background-color: rgba(85, 227, 84, 0.7);
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Logout3.png");
}


#reboot {
	margin: 5px;
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Restart2.png");
}

#reboot:hover,#reboot:focus {
  background-color: rgba(240, 191, 72, 0.7);
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Restart3.png");
}


#shutdown {
	margin: 5px;
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Poweroff2.png");
}

#shutdown:hover,#shutdown:focus {
  background-color: rgba(246, 99, 85, 0.7);
  background-image: url("/home/nekomi/Pictures/Nixos/Icons/Poweroff3.png");
}

