* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Monofur Nerd Font';
    font-size: 17px;
    font-weight: normal;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 26px;
}

#waybar {
  background: rgba(86, 85, 95, 0.2); /* 2e3440 nord0*/
  color: #f6f0ff;
	border-radius: 10px;
}

/*nixos,workspaces,window,clock,sound,brightness,network,battery,hardware*/

/*#5e81ac,#88c0d0, no,    no,   8fbcbb,a3be8c,   ebcb8b,d08770,bf616a*/

/*left*/

#custom-nixos {
  border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #5a85fe;
  background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #5a85fe;
}

#custom-nixos:hover {
  background-color: rgba(41,41,50,1);
  color: #5a85fe;
}

#workspaces {
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #29bcad;
	background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  margin-left: 6px;
  color: #29bcad;
}

#workspaces button{
  color: #29bcad;
}

#workspaces button.active {
  background-color: #29bcad;
  color: rgba(41,41,50,1);
}

#workspaces button:hover {
  color: #29bcad;
  background-color: rgba(41,41,50,1);
	border-radius: 10px;
}


/*middle*/

#clock {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#window {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #f6f0ff;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#keyboard-state {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #f6f0ff;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


/*right*/

#pulseaudio {
  border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #55e354;
	background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #55e354;
}

#pulseaudio:hover {
	background-color: rgba(41,41,50,1); /*292932*/
  color: #55e354;
}


#backlight {
  border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #f0bf48;
	background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #f0bf48;
}

#backlight:hover {
	background-color: rgba(41,41,50,1); /*292932*/
  color: #f0bf48;
}


#network {
  border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #f2a24e;
	background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #f2a24e;
}

#network:hover {
  color: #f0bf48;
	background-color: rgba(41,41,50,1); /*292932*/
}


#battery {
  border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #f66355;
	background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #f66355;
}

#battery:hover {
	background-color: rgba(41,41,50,1); /*292932*/
  color: #f66355;
}


#cpu,#memory,#disk,#temperature {
  border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #f6b3bf;
	background-color: rgba(41,41,50,0.7); /*292932*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #f6b3bf;
}

#cpu:hover,#memory:hover,#disk:hover,#temperature:hover {
	background-color: rgba(41,41,50,1); /*292932*/
  color: #f6b3bf;
}






