* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Monofur Nerd Font';
    font-size: 17px;
    font-weight: normal;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    min-height: 24px;
}

#waybar {
  background: rgba(46, 52, 64, 0.5); /* 2e3440 nord0*/
  color: #cdd6f4;
}

/*nixos,workspaces,window,clock,sound,brightness,network,battery,hardware*/

/*#5e81ac,#88c0d0, no,    no,   8fbcbb,a3be8c,   ebcb8b,d08770,bf616a*/

/*left*/

#custom-nixos {
  border-radius: 10px;
  background-color: #3b4252; /*nord1*/
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #5e81ac;
  margin-top: 6px;
}

#custom-nixos:hover {
  color: #3b4252;
  background-color: #5e81ac;
}

#workspaces {
   border-radius: 10px;
   background-color: #3b4252;
   font-size: 20px;
   margin-left: 6px;
   color: #88C0D0;
   margin-top: 6px;
}

#workspaces button.active {
  background-color: #88C0D0;
  color: #3b4252;
}

#workspaces button:hover {
  background-color: #88C0D0;
  color: #3b4252;
}


/*middle*/

#clock {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#window {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #d8dee9;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/*right*/

#custom-volume {
  border-radius: 10px;
  background-color: #3b4252; /*nord1*/
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #8fbcbb;
  margin-top: 6px;
}

#custom-volume:hover {
  background-color: #8fbcbb;
  color: #3b4252;
}


#backlight {
  border-radius: 10px;
  background-color: #3b4252; /*nord1*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #a3be8c;
  margin-top: 6px;
}

#backlight:hover {
  background-color: #a3be8c;
  color: #3b4252;
}


#network {
  border-radius: 10px;
  background-color: #3b4252; /*nord1*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #ebcb8b;
  margin-top: 6px;
}

#network:hover {
  background-color: #ebcb8b;
  color: #3b4252; /*nord1*/
}


#battery {
  border-radius: 10px;
  background-color: #3b4252; /*nord1*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #d08770;
  margin-top: 6px;
}

#battery:hover {
  background-color: #d08770;
  color: #3b4252; /*nord1*/
}


#cpu,#memory,#disk {
  border-radius: 10px;
  background-color: #3b4252; /*nord1*/
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #bf616a;
  margin-top: 6px;
}

#cpu:hover,#memory:hover,#disk:hover {
  background-color: #bf616a;
  color: #3b4252; /*nord1*/
}






